.Homepage {
  width: 30%;
  margin: auto;
  margin-top: '0px';
}

.homepage-slogan {
  position: absolute;
  top: 20%;
  right: 35%;
  transform: rotate(7deg);
}

.main-app {
  height: 7vh;
}

.center {
  margin: auto 0px;
}
