body {
  margin: 0px;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 54px;
  float: left;
}

@keyframes vibrant {
  0% {
    color: #fbd786;
  }
  25% {
    color: rgba(0, 252, 168, 0.658);
  }

  50% {
    color: rgba(0, 155, 245, 0.973);
  }
  75% {
    color: #f8fa78;
  }
  100% {
    color: rgb(172, 70, 255);
  }
}

.code-entry {
  height: 80vh;
}

.enter-code-here {
  margin: auto 0px;
  position: absolute;
  top: 25vh;
  left: 13vw;
}

.to-do {
  position: relative;
  left: 40vw;
  color: black;
}
