.code {
  position: relative;
  background-color: #f76c6c;
  color: white;
  height: 50%;
  width: 100%;
  padding: 20px;
  animation: code-generate 2s;
}

.deleteButton:hover {
  color: rgb(206, 0, 0);
}

@keyframes code-generate {
  0% {
    width: 0%;
    color: transparent;
  }
  100% {
    width: 100%;
    color: white;
  }
}

.JumboTron-play-list {
  float: right;
}

.Jumbo-new-url {
  position: relative;
}

.jumboGallery__tile:hover {
  border: 5px solid #f76c6c;
  animation-name: Rainbow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes Rainbow {
  0% {
    border-color: rgb(253, 117, 117);
  }
  50% {
    border-color: rgb(90, 90, 252);
  }
  100% {
    border-color: yellow;
  }
}
