.profile-page {
  position: absolute;
  margin-top: 30px;
  height: 100%;
  width: 100%;
}
.profile-photo {
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 50px;
  display: block;
  height: 200px;
}

.profile-name {
  margin-left: 95px;
}

.profile-savedPages {
  text-align: center;
}

.savedVideo {
  text-align: center;
}

.profile-videos {
  margin: 200px;
  margin-top: 0px;
}

.myProfile__card {
  margin: 50px;
  background-image: url('https://picsum.photos/1920/1080');
}
