.profile-page {
  margin-top: 40px;
}
.profile-photo {
  border-radius: 50%;
  margin: auto;
  display: block;
}

.profile-name {
  text-align: center;
}

.profile-savedPages {
  text-align: center;
}

.savedVideo {
  text-align: center;
}
